*/cmake-build-debug/
cmake-build-debug
*/cmage-build-release/
cmake-build-release

*.tar.gz
*.mtx

*.pdf
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.dpth
*.md5
*.auxlock
